---
title: Test post
date: 2021-07-23T00:00:00
summary: Seeing if this works!
---


This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.
This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. `inline code` I can't figure out how to get lorem ipsum generator working in mdx.



```svelte
<!-- app.svelte -->
<script>
  import { onMount } from 'svelte'

  const stuff = {
    buttz: "lol"
  }

  let other = "thing"

  $: reactiveFunc(10, other)

  onMount(() => {
    if (true) {
      doThing()
    }
  })
</script>

{#if condition}
  <h3 class="something">Hello!</h3>
{/if}

<style>
  h3 {
    color: blue;
  }

  .class {
    width: 100px;
  }
</style>
```

### Subheading
This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx. This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.This is a test of how a lot of text looks. I can't figure out how to get lorem ipsum generator working in mdx.

### A list
* Something
* More stuff

**BOLD?**

*slanty*

### A table
|Name | Age | Location |
|-----|-----|----------|
| Bob | 30  | NJ       |
| Sam | 40  | PHL      |

```css
h1 {
  height: 30px;
}
h1:hover {
  text-decoration: underline;
}
#something {
  height: 10px;
}
```

```javascript
const something = 'foo'
let stuff = 'bar'
let num = 10
function stuff() {
  do {thing};
}
```