@import '@fontsource/anton';
@import '@fontsource/roboto';
@import '@fontsource/fira-mono';

:root {
  --font-heading: 'Anton', sans-serif;
  --font-mono: 'Fira Mono', monospace;

  --text-color: #464646;
  --text-light: #fff5dc;
  --text-gray: #6b6b6b;
  
  /* --background-color: #fdd5db; */
  --background-color: #a2cfa2;
  --background-light: #fff6e5;
  --border-color: #8b4512;

  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff8db;
    --text-gray: #9c9c9c;
    --background-color: #1d2021;
    --background-light: #303030;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 400;
}

h1,
h2,
p {
  color: var(--text-color);
}

h2 {
  font-size: 1.9rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.65rem;
  margin-top: 2.75rem;
  margin-bottom: 1.75rem;
}

p {
  line-height: 1.7;
  margin: 0 0 1.75rem 0;
}

a,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus:not(:focus-visible) {
  outline: none;
}
