Hi, everyone! My name is Lewis and I don't know what I'm doing.

I'm a self-taught web developer and I'm writing this blog to learn in public. If you want to see how I built it, you can [check out the repo](https://github.com/kindoflew/idkwid). 

I'm also one of the maintainers of [@react-spring/parallax](https://github.com/pmndrs/react-spring) (although my favorite framework right now is Svelte).

I'm currently looking for a full-time developer position, so if your company is hiring for associate/junior front-end devs -- feel free to get in touch on Twitter: [@kindoflew](https://twitter.com/kindoflew).
